.passwordchanger{
    text-align: center;
    padding-top: 20%;
}

.defaulttext{
    font-size: larger;
    transition-property: color;
    cursor: pointer;
}

.defaulttext:hover{
    color:red
}
