* {
    box-sizing: border-box;
  }
  
  .dignity {
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
  }
  
  h1 {
    margin: 0;
    font-size: clamp(2rem, 1rem + 10vmin, 10rem);
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 0.8;
  }
  
  :root {
    --red: #ea4335;
    --green: #34a853;
    --yellow: #fbbc05;
    --speed: 0.65s;
  }
  
  h1 span {
    --color: var(--red);
    color: var(--color);
    position: relative;
    clip-path: inset(-20% 0);
    animation-name: text-reveal, shimmy;
    animation-duration: var(--speed);
    animation-delay: calc((0.5 + var(--index)) * (var(--speed) / 3));
    animation-fill-mode: both;
    animation-timing-function: steps(1), ease-out;
  }
  
  @keyframes shimmy {
    0% {
      transform: translateX(-1ch);
    }
  }
  
  @keyframes text-reveal {
    0% {
      color: transparent;
    }
    50%, 100% {
      color: var(--color);
    }
  }
  
  h1 span:after {
    content: "";
    position: absolute;
    inset: -20% 0;
    background-color: var(--color);
    animation-name: block-reveal;
    animation-duration: var(--speed);
    animation-delay: calc((0.5 + var(--index)) * (var(--speed) / 3));
    animation-fill-mode: both;
  }
  
  @keyframes block-reveal {
    0% {
      transform: translateX(-110%);
    }
    45%, 55% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(110%);
    }
  }
  
  h1 span:nth-of-type(1) {
    --color: var(--green);
    --index: 0;
  }
  
  h1 span:nth-of-type(2) {
    --color: var(--yellow);
    --index: 1;
  }
  
  h1 span:nth-of-type(3) {
    --color: var(--red);
    --index: 2;
  }





  :root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}



.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}